{% load staticfiles %}
{% include "header.html" %}


		{% include "menu.html" %}

		<!-- content -->
		<section class="container">

			<h3>Adicionar Fornecedor</h3>

			<!-- add -->
			<div class="row">
				<div class="col-lg-6 col-md-6 col-xs-12">
					<form action="" method="POST" role="form">
						{% csrf_token %}		
						<br>
						{% autoescape off %}
						<div class="{{classerror}}">
							<strong>{{error}}</strong>
						</div>
						{% endautoescape %}	
						<div class="form-group">
							<strong>Nome</strong>
							<input type="text" maxlength="40" value="{{nome}}" class="form-control" name="nome" placeholder="Nome do fornecedor" required>
						</div>
						<div class="form-group">
							<strong>Contato</strong>
							<input type="text"  maxlength="40" value="{{contato}}" class="form-control" name="contato" placeholder="Contato do fornecedor" required>
						</div>
						<button type="submit" class="btn btn-info">Salvar Fornecedor</button>
					</form>
				</div>
			</div>
			<!-- add -->

			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<h3>Fornecedores</h3>

					<form action="" method="GET" class="form-inline" role="form">
						{% csrf_token %}	
						
						<div class="form-group">
							<strong class="sr-only">Busca</strong>
							<input type="text" class="form-control" name="busca" placeholder="Digite sua busca" required>
						</div>
					
						<button type="submit" class="btn btn-primary">Buscar</button>
					</form>

					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Contato</th>
								<th>Opções</th>
							</tr>
						</thead>
						<tbody>
							{% for fon in list_fon %}
							<tr>
								<td>{{fon.nome}}</td>
								<td>{{fon.contato}}</td>
								<td>
									<a class="btn btn-danger" onclick="delFon('?deleta='+{{fon.id}},'{{fon.nome}}')">
										Deletar
									</a>
									<a class="btn btn-info" data-toggle="modal" href='#alterar' onclick="pegaAltFornCli('{{fon.id}}','{{fon.nome}}','{{fon.contato}}')">
									Alterar
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<!-- listagem -->

					<!-- pagination -->
					<div class="text-center">
					    <ul class="pagination pagination-lg">
					        {% if list_fon.has_previous %}
					            <li>
					            	<a href="?page={{ list_fon.previous_page_number }}">«</a>
					            </li>
					        {% endif %}

					        <li>
					            <a>
					            	{{ list_fon.number }} de {{ list_fon.paginator.num_pages }}
					            </a>
					        </li>

					        {% if list_fon.has_next %}
					            <li>
					            	<a href="?page={{ list_fon.next_page_number }}">»</a>
					            </li>
					        {% endif %}
					    </ul>
					</div>
					<!-- pagination -->

				</div>
			</div>
		</section>
		<!-- content -->

		<!--  Alterar -->
		<div class="modal fade" id="alterar">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Alterar fornecedor</h4>
					</div>
					<form id="formAltFor">
						<div class="modal-body">
							<div class="form-group">
								<div id="responseAlt"></div>
							</div>

							<div class="form-group">
								<input type="hidden" name="id" id="idAlt" class="form-control" value="">
								<strong>Nome</strong>
								<input type="text" maxlength="40" name="nome" class="form-control" id="nomeAlt" placeholder="Inserir nome">
							</div>
					
							<div class="form-group">
								<strong>Contato</strong>
								<input type="text" maxlength="40" name="contato" class="form-control" id="contatoAlt" placeholder="Inserir contato">
							</div>
					
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Alterar -->
			
{% include "footer.html" %}